<div class="sidebar-navigation">
  <div>
    <button [routerLink]="['dashboard']" mat-button>
      <mat-icon fontIcon="home"></mat-icon>{{'Dashboard'}}</button>
  </div>
  <div>
    <button [routerLink]="['absence']" mat-button>
      <mat-icon fontIcon="person_off"></mat-icon>{{'Absenzen'}}</button>
  </div>
  <div>
    <button [routerLink]="['employee']" mat-button>
      <mat-icon fontIcon="person"></mat-icon>{{'Mitarbeiter'}}</button>
  </div>
  <div>
    <button [routerLink]="['department']" mat-button>
      <mat-icon fontIcon="business"></mat-icon>{{'Abteilungen'}}</button>
  </div>
  <div>
    <button [routerLink]="['absenceReason']" mat-button>
      <mat-icon fontIcon="settings"></mat-icon>{{'Absenz Gründe'}}</button>
  </div>
</div>
