.header-wrapper {
  padding: 10px;
  display: flex;
  border: black 1px solid;
  font-family: "Calibri", sans-serif;
  font-size: 90%;
}

h1 {
  margin: auto auto auto 10px;
}

h2 {
  margin: auto 10px auto auto;
}
