<div style="height: 100%; overflow: hidden">
  <app-header></app-header>
  <button *ngIf="!show" (click)="onClick()" mat-icon-button type="button">
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
  <div class="sidebar" style="height: 100%" *ngIf="show">
    <div style="vertical-align: middle">
      <button (click)="onClick()" mat-icon-button type="button">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </div>
    <div>
      <app-navigation/>
    </div>
  </div>
</div>
<router-outlet/>
