<div class="department-form-wrapper">

  <h2 *ngIf="edit"> Abteilung Bearbeiten </h2>
  <h2 *ngIf="!edit"> Abteilung Hinzufügen </h2>

  <form (ngSubmit)="save(objForm.value)" [formGroup]="objForm!">

    <mat-form-field>
      <mat-label> Code (Min. 2)</mat-label>
      <input #inputDepartmentCode formControlName="department_code" matInput minlength="2" maxlength="3" required>
      <mat-hint align="start">{{inputDepartmentCode.value.length || 0}}/3</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label> Beschreibung </mat-label>
      <input #inputDescription formControlName="description" matInput maxlength="255" required>
      <mat-hint align="start">{{inputDescription.value.length || 0}}/255</mat-hint>
    </mat-form-field>

    <button type="submit" [disabled]="!objForm.valid"  color="primary" mat-raised-button style="width: 200px">
      Speichern
    </button>

  </form>
</div>
